/* feature page */
.screenOne {
	background: url(../images/featureImage.svg) top center repeat fixed;
    height: 800px;
	background-size: contain;
}

/* page 2 */
.gifimage {
	background: url(../images/background2.jpg) top center no-repeat fixed;
	height: 1000px;
	overflow: hidden;
	width: 100%;
	background-size: cover;
    clear: both;
}

/* page 3 */
.screenThree {

	background: url(../images/bgthree.jpg) top center no-repeat fixed;
	height: 1000px;
	overflow: hidden;
	width: 100%;
	background-size: cover;
	z-index: 204;
	clear: both;

}

/*Screen four*/

#screen4_bg{
	
	background: url(../images/background3.jpg) top center no-repeat fixed;
	height: 1000px;
	overflow: hidden;
	width: 100%;
	background-size: 90%;
	z-index: 204;
	clear: both;
}





/* header */
.logo{
    height: 74px;
}


/* body */
body{
    font-family: 'Roboto Condensed', sans-serif;

}

/* featured header */
.featuredHeader{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}


.white{
    opacity: 1;
}

.downArrow{
    width: 30px;
    position: absolute;
    left: 50%;
    top: 90%;
    color: #707070;
    /*
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}