*{
    margin: 0;
    padding: 0;
}


/* Nav */
.navigation{
	position: fixed !important;
	width: 100%;
	z-index: 1000;
	background: #E6E6E6 !important;
}

/* nav title */
.title-bar{
	background: #E6E6E6 !important;
}

/* nav ham color */
.menu-icon{
	background-color: #5a5555;
}
/* body */
body{
	font-family: 'Roboto Condensed', sans-serif;
}

/* feature page */
.screenOne {
	background: url(../images/featureImage.svg) top center repeat fixed;
    height: 800px;
	background-size: contain;
}

/* myth 1 */
.gifimage {
	background: url(../images/photo5.jpeg) top center no-repeat fixed;
	height: 1000px;
	overflow: hidden;
	width: 100%;
	background-size: cover;
    clear: both;
}

/* myth 2 */
.screenThree {

	background: url(../images/bgthree.jpg) top center no-repeat fixed;
	height: 1000px;
	overflow: hidden;
	width: 100%;
	background-size: cover;
	z-index: 204;
	clear: both;

}

/* myth 3 */

#screen4_bg{
	
	background: url(../images/photo4.jpeg) top center no-repeat fixed;
	height: 1000px;
	overflow: hidden;
	width: 100%;
	background-size: cover;
	z-index: 204;
	clear: both;
}


/*Screen five*/

#screen5_bg{
	
	background: url(../images/photo00.jpeg) top center no-repeat fixed;
	height: 1000px;
	overflow: hidden;
	width: 100%;
	background-size: cover;
	z-index: 204;
	clear: both;
}



/*Screen Six*/

#screen6_bg{
	
	background: url(../images/photo1.jpeg) top center no-repeat fixed;
	height: 1000px;
	overflow: hidden;
	width: 100%;
	background-size: cover;
	z-index: 204;
	clear: both;
}

/*Screen seven*/

#screen7_bg{
	
	background: url(../images/photo2.jpeg) top center no-repeat fixed;
	height: 1000px;
	overflow: hidden;
	width: 100%;
	background-size: cover;
	z-index: 204;
	clear: both;
}







/* header */
.logo{
    height: 74px;
}

/* featured header */
.featuredHeader{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}


.white{
    opacity: 1;
}

.downArrow{
    width: 30px;
    position: absolute;
    left: 50%;
    top: 90%;
    color: #707070;
    /*
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* list item */
<<<<<<< HEAD
.dropdown.menu{
    align-items: center;
    font-size: 14pt;
=======
li{
    justify-content: center;
}

/* logo */

.logo{

    
>>>>>>> b1ca09643a796a133ad8ab4035b8e1c260cea82b
}

/* Menu */

#responsive-menu .dropdown.menu{

    height: 75px;
}

/* media query for web view */
@media only screen and (min-width: 768px) {

   /* padding to the nav li*/
   .navigation li{
	   padding-top: 20px; 
   }
}